
.flex-container {
  margin-top: 3em;
  display: flex;
  justify-content: center; /* Horizontally center */

  /* Vertically center */
  height: 90vh;

}
.body{
  background-color: black;
}





.rest {
  position: relative;
  /* Your box styling */
  display: flex;

  margin-top: 2em;
  margin-left: 0em;
  width: 30em;
  height: 7  0em;
  font-size: 40px;
  font-weight: bold;
  background-color: white;
  border-color: transparent;
  border-radius: 20px;

  z-index: 1;
}

.head1{
  position: absolute;
  display: inline-block;
  font-size: 0.6em;
  margin-top:3em;

  margin-left:6em;
  font-family:arial;
  color:blue;

}
.head1f{
  position: absolute;
  display: inline-block;
  font-size: 0.9em;
  margin-top:6em;

  margin-left:3em;
  font-family:arial;
  color:red;

}
.head1f1{
  position: absolute;
  display: inline-block;
  font-size: 0.9em;
  margin-top:6em;

  margin-left:10em;
  font-family:arial;
  color:limegreen;

}
.head12{
  position: absolute;
  display: inline-block;
  font-size: 1em;
  margin-top:6em;
  margin-left:0em;
  font-family:arial;
  color:red;

}
.center-top-box {
  position: absolute;
  /* Your box styling */
  display: flex;
  margin-left: 0em;
  background-color: blue;
  font-size: 40px;
  width: 5em;
  font-weight: bold;
  background-color: white;
  border-color: transparent;
  border-radius: 20px;
  z-index: 1;
}

.text{
  z-index: 100;
  position: absolute;
  color: black;
  font-family: Arial;
  font-size: 0.7em;
  margin-top:0.5em;
  margin-left:1em;
  border-left: 10px solid red;
  padding-right: 1px;
  padding-left: 10px;
}

.sibow123{
  position: absolute;
  display:flex;
  margin-top: 13em;

  width: 30em;
  height: 10em;
  font-size:40px;
  font-weight: bold;
  background-color: white;
  border-color:transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
}

.sibow123a{
  position: absolute;
  display:flex;
  margin-top: -2em;

  width: 30em;
  height: 15em;
  font-size:40px;
  font-weight: bold;
  background-color: white;
  border-color:transparent;
  border-radius: 20px;
 
}

.text1{
  z-index: 100;
  position: absolute;
  color: black;
  font-family: Arial;
  font-size: 1em;
  margin-top:-3em;
  margin-left:7em;

}
.text2{
  z-index: 100;
  position: absolute;
  color: black;
  font-family: 'Courier New';
  font-size: 0.3em;
  margin-top:-5em;
  margin-left:45em;

}

.sibow123a2{
  position: absolute;
  display:flex;
  margin-top: 37em;

  width: 30em;
  height: 10em;
  font-size:40px;
  font-weight: bold;
  background-color: white;
  border-color:transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.5);
 
}